<!DOCTYPE html>

<!--
   Web App Starter Kit for Fire TV

   Name: web-app-starter-kit-for-fire-tv
   Version: 1.3.0

   https://github.com/amzn/web-app-starter-kit-for-fire-tv

   The project is released as open source under the Creative Commons License CC0

   http://creativecommons.org/publicdomain/zero/1.0/
-->
<html lang='en'>
<head>
    <title>
        Simple Template
    </title>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        /**
         * This script will set the 'initial-scale' value on the viewport metatag
         * The scale is used to fit the template on Kindle Fire mobile devices
         * This must be handled in the head of the document because the scale
         * is not affected once the page finishes loading
         */
        var vp = document.getElementById('viewport');

        var initialScale = Math.max(screen.width, screen.height)/1920;

        vp.setAttribute('content','width=device-width, initial-scale=' + initialScale + ', maximum-scale=' + initialScale, + 'minimum-scale=' + initialScale);

    </script>
    <link rel="stylesheet" type="text/css" href="firetv.css" inline>
</head>

<body>
    <div id="app-container" class="app-main-container">
    </div>

    <!-- Spinner for startup -->
    <div id="app-overlay" class="app-overlay-container">
        <div id="overlay-message" class="app-overlay-message"></div>
    </div>
    <div id="app-loading-spinner" class="content-load-spinner">
    </div>

    <!-- App Header Template -->
    <script id="app-header-template" type="text/x-handlebars-template">
        <div id="app-header-bar" class="app-top-bar">
           <div class="app-logo"><img src="{{img_logo}}" /></div>
       </div>
    </script>

    <!-- Left Nav View Template -->
    <script id="left-nav-template" type="text/x-handlebars-template">
        <div id="left-nav" class="leftnav-main-container">
            <div id="left-nav-list-container" class="leftnav-menulist-expanded">
                <div id="left-nav-scrolling-list" class="leftnav-menu-scrolling-list">
                    {{#each leftNavItems}}
                    <div class="leftnav-list-item-container">
                        <div class="leftnav-list-item-static">
                            {{this}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </script>

    <!-- Search Row View Template -->
    <script id="search-input-template" type="text/x-handlebars-template">
        <input id="search-input" class="leftnav-list-item-static leftnav-search-box" type="text" placeholder="Search"/>
    </script>

    <!-- SubCategory Template  -->
    <script id="subcategory-view-template" type="text/x-handlebars-template">
        <div class = "subcategory-container">
            <div class="leftnav-list-item-static leftnav-list-item-chosen subcat-header">
                {{title}}
            </div>
        </div>
    </script>

    <!-- 1D View Template  -->
    <script id="one-D-view-items-template" type="text/x-handlebars-template">
        <div id="one-D-view-item-elements" class="one-D-details-container">
            <div id="one-d-no-items" class="one-d-no-items-container">No content found.</div>
            <div id="one-D-shoveler-container"></div>
            <div id="one-D-summary-container" class="one-D-details-summary-text">
                <div id="summaryTitle" class="one-D-summary-title"></div>
                <div id="summaryDate" class="one-D-summary-pubdate"></div>
                <div id="summary-buttons-container"></div>
                <div id="summaryDesc" class="one-D-summary-description"></div>
            </div>
        </div>
    </script>

    <!-- Shoveler View Template -->
    <script id="shoveler-template" type="text/x-handlebars-template">
        <div id="shoveler-view" class="shoveler-row-container">
            {{#each items}}
            <div id="{{id}}" class="shoveler-rowitem-static">
            </div>
            {{/each}}
        </div>
    </script>

    <!-- Buttons View Template -->
    <script id="button-view-template" type="text/x-handlebars-template">
        <div class="detail-row-container-buttons">
            {{#each items}}
            <div id="{{id}}" class="detail-item-button-static">{{buttonValue}}</div>
            {{/each}}
        </div>
     </script>

    <!-- Next Video View Template  -->
    <script id="next-video-view-template" type="text/x-handlebars-template">
        <div id="next-video-view" class="next-video-main-container">
            <div class = "next-video-text">UP NEXT</div>
            <div class = "next-video-title">{{title}}</div>
            <div class = "next-video-description">{{description}}</div>
            <div class = "next-video-thumbnail"><img src="{{thumbURL}}"></div>
            <div class = "next-video-playingtext">
                Playing in
                <span id = "next-video-starttext" class = "next-video-starttext">30 </span>
                seconds
            </div>
        </div>
    </script>

    <!-- Player View Template  -->
    <script id="player-view-template" type="text/x-handlebars-template">
        <div id="player-view" class="player-main-container"></div>
    </script>

    <!-- Custom Controls Template -->
    <script id="controls-view-template" type="text/x-handlebars-template">
        <div class="player-pause-button">
            <img class="player-pause-indicator" src="assets/btn_pause.png"/>
        </div>
        <div class="player-controls-container">
            <div class="player-controls-timeline-container">
                    <div class="player-controls-timeline">
                        <div class="player-controls-timeline-playhead"></div>
                    </div>
                <div id = "forward-indicator" class="player-controls-skip-indicator">
                    <img src="assets/forward-arrow.png" />
                    <span class = "player-controls-skip-symbol">+</span>
                    <span class = "player-controls-skip-number">10</span>
                    <span class = "player-controls-skip-text">s</span>
                </div>
                <div id = "rewind-indicator" class="player-controls-skip-indicator">
                    <img src="assets/rewind-arrow.png" />
                    <span class = "player-controls-skip-symbol">-</span>
                    <span class = "player-controls-skip-number">10</span>
                    <span class = "player-controls-skip-text">s</span>
                </div>
            </div>
            <div class="player-controls-timestamp-curtime">00:00</div>
            <div class="player-controls-timestamp-totaltime"></div>
            <div class="player-controls-content-title">Content Title</div>
            <div class="player-controls-button-back"><img class="player-back-button" src="assets/btn_back.png" /></div>
            <div class="player-controls-content-subtitle">Subtitle</div>
        </div>
    </script>

    <!-- Custom Live Controls Template -->
    <script id="controls-live-view-template" type="text/x-handlebars-template">
        <div class="player-pause-button">
            <img class="player-pause-indicator" src="assets/btn_pause.png"/>
        </div>
        <div class="player-controls-container">
            <div class="player-controls-timeline-container">
                    <div class="player-controls-timeline">
                    </div>
            </div>
            <div class="player-controls-timestamp-curtime">
                <img src="assets/live.png"/>
            </div>
            <div class="player-controls-content-title">Content Title</div>
            <div class="player-controls-button-back"><img class="player-back-button" src="assets/btn_back.png" /></div>
            <div class="player-controls-content-subtitle">Subtitle</div>
        </div>
    </script>

    <!-- Dialog Template -->
    <script id="dialog-template" type="text/x-handlebars-template">
        <div class="modal-dialog">
            <div class = "dialog-title">{{title}}</div>
            <div class = "dialog-message">{{message}}</div>
            <div class = "dialog-buttons-container"></div>
        </div>
    </script>
    <script src="js/jquery.js"></script>
    <script src="js/handlebars-v1.3.0.js"></script>
    <script src="js/util.js"></script>
    <script src="js/error-handler.js"></script>
    <script src="js/dialog-view.js"></script>
    <script src="js/button-view.js"></script>
    <script src="js/events.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/touches.js"></script>
    <script src="js/leftnav-view.js"></script>
    <script src="js/one-d-view.js"></script>
    <script src="js/shoveler-view.js"></script>
    <script src="js/player-view.js"></script>
    <script src="js/playlist-player-view.js"></script>
    <script src="js/controls-view.js"></script>
    <script src="js/search-input-view.js"></script>
    <script src="js/model-json.js"></script>
    <script src="js/app.js"></script>
    <script src="js/init.js"></script>

</body>
</html>
